<<<<<<< Updated upstream
/*Animations fonctionne sous firefox mais pas sous chrome chercher autre méthode #FirefoxBEST*/
/*
@keyframes rotation {
    100% {
        rotate: 360deg;
    }
}*/
/*autre methode*/
.button:hover {background-color: #c4c4c4}

.button:active {
  background-color: #808080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:active~body {
    animation-duration: 1000000s;

  }
@keyframes rotation {
    0% {}

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes background {
    0% {
        background-color: rgb(189, 255, 255);
    }

    33% {
        background-color: lightpink;
    }

    66% {
        background-color: rgb(253, 192, 236);
    }

    100% {
        background-color: rgb(189, 255, 255);
    }
}

/*all*/

:root {
    font-family: Raleway;
    width: 960px;
    margin: auto;
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
    
}


/*head*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}


/*body*/
body {
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*header*/

header{
    display: flex;
    flex-flow: wrap;
}

.titre > div{
    display: flex;
    margin: auto;
}

/*recentré le logo et texte*/
header .logo {
    margin: auto;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    flex-flow: row;
}

header h1 {
    margin: 15px;
    text-align: center;
    font-weight: bold;
    flex-flow: row;
}

.titre {
    flex-flow: wrap;
}

.titre h5{
    flex-direction: column;
    margin: auto;
    padding: auto;
    text-align: center;
}

.articleI {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffe0e06b;
    border-radius: 25px;
    text-align: justify;

}
/*footer*/

.Plan_Du_Site{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffe0e06b;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    align-items: center;

}

footer{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;

}
footer li{
    display: flex;
    flex-direction: row;
}
footer div{
    margin: auto;
    background-color: #666;
    text-align: center;
    text-align: justify;

}

.fsm{
    display: flex;
    flex-direction: row;
}
.credit {
    color: rgb(59, 59, 59);
    font-size: 6px;
    font-style: italic;
=======
/*Animations fonctionne sous firefox mais pas sous chrome chercher autre méthode #FirefoxBEST*/
/*
@keyframes rotation {
    100% {
        rotate: 360deg;
    }
}*/
/*autre methode*/
.button:hover {background-color: #c4c4c4}

.button:active {
  background-color: #808080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:active~body {
    animation-duration: 1000000s;

  }
@keyframes rotation {
    0% {}

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes background {
    0% {
        background-color: rgb(189, 255, 255);
    }

    33% {
        background-color: lightpink;
    }

    66% {
        background-color: rgb(253, 192, 236);
    }

    100% {
        background-color: rgb(189, 255, 255);
    }
}

/*all*/

:root {
    font-family: Raleway;
    width: 960px;
    margin: auto;
}


/*head*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}


/*body*/
body {
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*header*/

header{
    display: flex;
    flex-flow: wrap;
}

.titre > div{
    display: flex;
    margin: auto;
}

/*recentré le logo et texte*/
header .logo {
    margin: auto;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    flex-flow: row;
}

header h1 {
    margin: 15px;
    text-align: center;
    font-weight: bold;
    flex-flow: row;
}

.titre {
    flex-flow: wrap;
}

.titre h5{
    flex-direction: column;
    margin: auto;
    padding: auto;
    text-align: center;
}

.articleI {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffe0e06b;
    border-radius: 25px;
    text-align: justify;

}
/*footer*/

.Plan_Du_Site{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffe0e06b;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    align-items: center;

}

footer{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;

}
footer li{
    display: flex;
    flex-direction: row;
}
footer div{
    margin: auto;
    background-color: #666;
    text-align: center;
    text-align: justify;

}

.fsm{
    display: flex;
    flex-direction: row;
}
.credit {
    color: rgb(59, 59, 59);
    font-size: 6px;
    font-style: italic;
>>>>>>> Stashed changes
}