textarea{
    width: 300px;
    height: 200px;
}

article{
    display: flex;
    flex-flow: row;
    background-color: ivory;
    border-radius: 25px;
}

.form{
    width: 300px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;

}
.commentaires{
    background-color: lawngreen;
    display: flex;
    margin: auto;
    padding: auto;
    
}
