/*Animations fonctionne sous firefox mais pas sous chrome chercher autre méthode #FirefoxBEST*/
/*
@keyframes rotation {
    100% {
        rotate: 360deg;
    }
}*/
/*autre methode*/
@keyframes rotation {
    0% {}

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes background {
    0% {
        background-color: rgb(189, 255, 255);
    }

    33% {
        background-color: lightpink;
    }

    66% {
        background-color: rgb(253, 192, 236);
    }

    100% {
        background-color: rgb(189, 255, 255);
    }
}

/*all*/

:root {
    font-family: Raleway;
    width: 960px;
    margin: auto;
}


/*head*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}


/*body*/
body {
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*header*/

header{
    display: flex;
    flex-flow: wrap;
}

.titre > div{
    display: flex;

}

/*recentré le logo et texte*/
header .logo {
    margin: auto;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    flex-flow: row;
}

header h1 {
    margin: 15px;
    text-align: center;
    font-weight: bold;
    flex-flow: row;
}

.titre {
    flex-flow: wrap;
}

/*.titre h5{
    flex-direction: column;
    margin: auto;
    padding: auto;
    text-align: center;
}  Titre inutile */


/*footer*/

.credit {
    color: rgb(59, 59, 59);
    font-size: 6px;
    font-style: italic;
}