/*Animations*/
/*
@keyframes rotation {
    100% {
        rotate: 360deg;
    }
}*/
@keyframes rotation {
    0% {}

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes background {
    0% {
        background-color: lightcyan;
    }

    33% {
        background-color: lightpink;
    }

    66% {
        background-color: lightyellow;
    }

    100% {
        background-color: lightcyan;
    }
}

/*all*/

:root {
    font-family: Raleway;
    width: 960px;
    margin: auto;
}


/*head*/

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}


/*body*/

body {
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*header*/


header h1 {

    text-align: center;
    font-weight: bold;
    display: flex;
    display: inline-flexbox;
    flex-wrap: wrap;
}

.titre {
    display: inline-flex;
    flex-flow: wrap;
}

div h5 {
    display: initial;

}

/*recentré le logo et texte*/
header .logo {
    margin: auto;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

article {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffe0e06b;
    border-radius: 25px;
    text-align: justify;

}

img article {
    max-width: 25%;
}
p{
    margin: auto;
    padding: 15px;
}


.L1::first-letter {
    font-size: 175%;
    color: hotpink;
    font-weight: bolder;
}

/*page1*/

.tff{
    padding:5px;
    margin: auto;
     
}

aside {
    padding: 5px;
    background-color: hotpink;
    width: 200px;
    box-sizing: border-box;
    padding: 5px;
    margin: 20px;
    float: left;
    border-radius: 25px;
}

aside>p {
    text-align: center;
    font-size: 18px;
    text-align: justify;
    color: black;
    font-style: italic;
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}
/*footer*/

footer .credit {
    color: rgb(59, 59, 59);
    font-size: 6px;
}