

nav {
    width: 100%;
    margin: auto;
    background-color: rgb(87, 87, 87);
    position: sticky;
    top: 0px;
    border-radius: 25px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;

}

nav a:hover {
    color: rgb(239, 117, 250);
    border-bottom: 2px solid whitesmoke(255, 255, 255);
}

.sous {
    display: none;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;

}

nav>ul li:hover .sous {
    display: flex;
    flex-flow: column wrap;
}

.sous li {
    flex: 1 1 auto;
    text-align: left;
}

.sous a {

    border-bottom: none;
    color: rgb(209, 0, 209);
    font-size: 20px;
    font-weight: bolder;
    font-size: 12px;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
    font-size: 12px;
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}



aside {
    padding: 5px;
    margin: 20px;
    float: left;
    border-radius: 25px;

}

h3 p {
    flex: 500px;
}

aside {
    padding: 5px;
    background-color: hotpink;
    background-color: transparent 70%;
    width: 100px;
    box-sizing: border-box;
}

aside>p {
    text-align: center;
    font-size: 18px;
    text-align: justify;
    color: black;
    font-style: italic;
}

/*.carrouselMain {
    display: ;

}*/

.carrouselMain div {
    display: flex;
    background-color: whitesmoke;
    border-radius: 25px;

}

.carrouselMain div{
    background: linear-gradient(#e66465, #9198e5);
}

.items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    flex-shrink: 0;
    flex-basis: 450px;
    list-style: none;
    scroll-snap-type: x mandatory;
}

.sousItem {
    margin-left: 1rem;
    flex: 1 0 320px;
    scroll-snap-align: start;
}

.infosup{
    width: 150px;
    border-radius: 25px;
    margin: 5px;
    font-style: italic;
}

.infosup p {

    visibility: hidden;
    display: flex;

}

.sousItem img:hover~.infosup {
    /*devrai montrer infosup lors du hover sur le drapeau*/

    visibility: visible;

}

.sousItem img:hover~.infosup p {
    /*devrai montrer infosup lors du hover sur le drapeau*/

    visibility: visible;
    background-color: whitesmoke;
}


/*footer*/

.credit {
    color: rgb(59, 59, 59);
    font-size: 6px;
    font-style: italic;
}