<!DOCTYPE html>
<html lang="fr">
<!--
	Ce fichier HTML sert de base à tous les modèles en héritant.
	Il contient les éléments qui seront présents sur toutes les pages du site.
	En particulier les entêtes HTML, les header et footer et éventuellement le menu principal
-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ titre }}</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header>
		<div class="titre">
			<div>
				<img class="logo" src="logos/LOGOsmallest.png" alt="logo cercle arc en ciel">
				<h1> LGBT - Histoire et Luttes </h1>
			</div>
			<h5>Je sais pas quoi mettre ici</h5>
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Menu</a></li>
				<li class="menu-deroulant_cat1">
					<a href="index.html">LGBTQIA+</a>
					<ul class="sous">
						<li><a href="page1.html">L</a></li>
						<li><a href="page2.html">G</a></li>
						<li><a href="page3.html">B</a></li>
						<li><a href="page4.html">T</a></li>
						<li><a href="page5.html">QIA+</a></li>
					</ul>
				</li>
				<li class="menu-deroulant_cat2">
					<a href="#">Histoire</a>
					<ul class="sous">
						<li><a href="page6.html">Antiquité</a></li>
						<li><a href="page7.html">Moyen-âge</a></li>
						<li><a href="page8.html">Renaissance</a></li>
						<li><a href="page9.html">Temps Modernes</a></li>
						<li><a href="page10.html">Contenporain</a></li>
					</ul>
				</li>
				<li class="menu-deroulant_cat3">
					<a href="#">Luttes</a>
					<ul class="sous">
						<li><a href="page11.html">Luttes</a></li>
						<li><a href="page12.html">Droits en Europe</a></li>
						<li><a href="page13.html">Droits dans le monde</a></li>
						<li><a href="page14.html">Inégalités</a></li>
						<li><a href="page15.html">Associations</a></li>
					</ul>
				</li>
				<li><a href="bibliographie.html">Bibliographie & Sources</a></li>
				<li><a href="contact.html">Contactez-nous</a></li>
			</ul>
		</nav>

	</header>
	<main>
		{# Ceci est un commentaire en TWIG #}
		{# La ligne ci-dessous définit un bloc TWIG avec un contenu par défault.
			On peut spécialiser dans les modèles fils en remplaçant le contenu par un autre #}
		{% block main %}
		<h1>Modèle de page basique avec un bloc main</h1>
		<p>{{ message }}</p>
		{% endblock %}
	</main>
	<footer>
		{% block footer %}
		<p>Pied de page</p>
		{% endblock footer %}
	</footer>
</body>

</html>