{% extends "base.twig" %}
    <main>
    <aside>
        <p>Fun Fact: {{histoire.asidehistoire}}</p>
    </aside>
    <section>
        <article>
            <p class="presentation"{{histoire.presentation}}
            </p>
            <p>  {{histoire.pave}} </p>
        </article>
        <article>
            <h3> {{histoire.titretab}} </h3>
            <table>
                <thead>
                    <tr>
                        <th> Nom </th>
                        <th> Travail pertinent </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sappho</td>
                        <td>Travail pertinent</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>Travail pertinent</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>Travail pertinent</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    </main>