{% extends "base.twig" %}


   {% block css %}
   <link rel="stylesheet" href="styleindex.css">
    <link rel="stylesheet" href="stylecontact.css">
   {% endblock %}
{% block main %}
       <main role = 'main'>
        <section role = 'section principale'>
        <article role = 'article premier'>
            <div class="form">
                <form>
                    <label for="nom">Votre Nom:</label><br>
                    <input type="text" id="nom" name="nom"><br>
                    <label for="prenom">Votre Prénom:</label><br>
                    <input type="text" id="prenom" name="prenom"><br>
                    <label for="mail">Adresse e-mail:</label><br>
                    <input type="text" id="mail" name="mail"><br>
                    <label for="obj">Objet:</label><br>
                    <input type="text" id="obj" name="obj"><br>
                    <p for="msg">Votre message</p><br>
                    
                    <textarea role ="Zone de texte"></textarea>

                        <button class="btn" name="Valider" form="commentaire"> Envoyer</button>
                        <button class="btn" name="Annuler" form="commentaire"> Annuler</button>
                </form>
            </div>
            <div class="commentaires">
                <h3> {{comment.titre}} </h3>
                    {% for element in commentloop %}
                    <h5>{{element.user}}</h5>
                        <p>{{element.contenu}}</p>
                        {% endfor %}
            </div>
        </article>
    </section>
    </main>

{% endblock main %}