{% extends "base.twig" %}


   {% block css %}
   <link rel="stylesheet" href="styleindex.css">
    <link rel="stylesheet" href="stylecontact.css">
   {% endblock %}
{% block main %}
       <main role = 'main'>
        <section role = 'section principale'>
        <article role = 'article premier'>
          <div class="form">
                <form>
                    <label for="pseudo">Votre Pseudo</label><br>
                    <input type="text" id="pseudo" name="pseudo"><br>
                    <p for="msg">Votre message</p><br>
                    
                    <textarea role ="Zone de texte" id ="commentaire" name ="commentaire"></textarea>

                    <button class="btn" name="valider" form="commentaire")> Envoyer</button>
                    <button class="btn" name="annuler" form="commentaire"> Annuler</button>
                </form>
                 
            </div>
            <div class="commentaires">
                <h3> {{comment.titre}} </h3>
                    {% for element in commentloop %}
                    <div class="couleur">
                        <h5>{{element.pseudo}}</h5>
                        <p>{{element.commentaire}}</p>
                    </div>    
                    {% endfor %}
            </div>
        </article>
    </section>
    </main>

{% endblock main %}
